
<!DOCTYPE html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div th:fragment="common">
    <script type="text/javascript" th:src="@{/assets/libs/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/common.js}"></script>
</div>

<div th:fragment="jquery">
    <script type="text/javascript" th:src="@{/assets/libs/jquery/jquery-3.2.1.min.js}"></script>
</div>

<div th:fragment="echarts">
    <script type="text/javascript" th:src="@{/assets/libs/echarts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/echarts/echartsTheme.js}"></script>
</div>

<!--自定义js-->
<div th:fragment="custom">
    <script type="text/javascript" th:src="@{/coral/js/custom.js}"></script>
</div>

<div th:fragment="encode">
    <script type="text/javascript" th:src="@{/coral/js/encode.js}"></script>
</div>

<div th:fragment="index">
    <script type="text/javascript" th:src="@{/coral/js/index.js}"></script>
</div>

<div th:fragment="menutree">
    <script type="text/javascript" th:src="@{/coral/js/menutree.js}"></script>
</div>

<div th:fragment="jsonview">
    <script type="text/javascript" th:src="@{/coral/plugins/jsonview/js/jquery.jsonview.min.js}"></script>
    <script type="text/javascript" th:src="@{/coral/plugins/jquery.serializejson.min.js}"></script>
</div>

<div th:fragment="formcreate">
    <script type="text/javascript" th:src="@{/coral/js/formcreate.js}"></script>
</div>