<!DOCTYPE html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>阅读</title>
<link rel="stylesheet" type="text/css" th:href="@{/html5/css/reset_min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/html5/css/index.css}">
<script type="text/javascript" th:src="@{/html5/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/html5/js/index.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{html5/css/flexslider.css}" />
<script type="text/javascript" th:src="@{/html5/js/jquery.flexslider-min.js}"></script>
<script type="text/javascript" th:src="@{/html5/js/jquery.placeholder.min.js}"></script>
<script type="text/javascript" th:src="@{/html5/js/waterwheelcarousel.min.js}"></script>

<script>
    $(function(){
        $('input[placeholder]').placeholder();
        $('textarea[placeholder]').placeholder();
    });
 </script>

</head>

<body style="background: #dbd6c3; ">




      <div class="read-left">
            <div class="read-left-cont read-mulu">
            	<a href="javascript:;">
            		<i></i>
            		<span>目录</span>
            	</a>
            </div>

            <div class="read-left-cont read-setting">
            	<a href="javascript:;">
            		<i class="read-set"></i>
            		<span>设置</span>
            	</a>
            </div>

            <div class="read-left-cont">
            	<a href="javascript:;">
            		<i class="read-sj"></i>
            		<span>书架</span>
            	</a>
            </div>


            <!-- 目录弹窗 -->
            <div class="mulu-box">
                <a href="javascript:;" class="mulu-close clearfix"></a>
                <h5><span>目录</span></h5>
                <div class="mulu-cont clearfix">
                    <ul>
                      <li class="on"><a href="javascript:;">第1章 丛生</a></li>
                      <li><a href="javascript:;">第2章 她的人生</a></li>
                      <li><a href="javascript:;">第3章 丛生</a></li>
                      <li><a href="javascript:;">第4章 丛生</a></li>
                      <li><a href="javascript:;">第5章 丛生</a></li>
                    </ul>

                </div>
            </div>
           <!-- 目录弹窗 end -->


           <!-- 设置弹窗 -->
            <div class="setting-box">
                <a href="javascript:;" class="setting-close clearfix"></a>
                <h5>快来设置你喜欢的阅读方式吧~</h5>
                <div class="setting-cont clearfix">
                    <div class="setting-pf">
                      <span>阅读主题:</span>
                      <div class="setting-pf-choose">
                          <i class="cl-1 on"></i>
                          <i class="cl-2"></i>
                          <i class="cl-3"></i>
                          <i class="cl-4"></i>
                          <i class="cl-5"></i>
                          <i class="cl-6"></i>                        
                      </div>
                    </div>
                    <div class="setting-pf">
                      <span>字体大小:</span>
                      <div class="setting-zt">
                            <div class="set-line"></div>
                            <div class="set-line-a"></div>
                            <span>A -</span>                     
                            <b>18</b>
                            <span>A +</span>                     
                      </div>
                    </div>
                    <div class="setting-pf">
                      <span>页面宽度:</span>
                      <div class="setting-zt">
                            <div class="set-line"></div>
                            <div class="set-line-a"></div>
                            <span><i class="iconfont">&#xe608;</i> -</span>                     
                            <b>900</b> 
                            <span><i class="iconfont">&#xe608;</i> +</span>                     
                      </div>
                    </div>
                </div>
                <div class="set-btn clearfix"><a href="javascript:;">保存</a></div>


            </div>
           <!-- 设置弹窗 end -->


      </div>




        <div class="read-right">

          <div class="read-right-cont" id="tp-btn">
          	<a href="javascript:;">
          		<i class="read-tp"></i>
          		<span>投票</span>
          	</a>
          </div>

          <div class="read-right-cont" id="ds-btn">
          	<a href="javascript:;">
          		<i class="read-ds"></i>
          		<span>打赏</span>
          	</a>
          </div>

          <div class="read-right-cont">
          	<a href="javascript:;">
          		<i class="read-pl"></i>
          		<span>评论</span>
          	</a>
          </div>
       	
        </div>





    <div class="read-details clearfix">
    	     <h2>儒道独尊</h2>
      	   <div class="read-titile clearfix">
      		    <span>作者：惊蛰闻雷</span>
      		    <i>|</i>
              <span>分类：东方玄幻</span>
              <i>|</i>
              <span>字数：28.8万</span>
              <i>|</i>
              <span>人气：52.2万</span>
          </div>
          <p>本书由塔读文学签约发行， 版权所有侵权必究</p>
    </div>




<div class="read2 clearfix">

	<div class="read2-title clearfix">第1章 ：天生我材必有用</div> 

	<div class="read-details-box clearfix">	
		    <span>书名：儒道独尊</span>
        <span>作者：惊蛰闻雷</span>
        <span>字数：3579</span>
        <span>更新时间：2020-05-08 19:21:33</span>
   </div>

   <div class="read-book-cont clearfix">

       <p>游龙镇，游离世外，地处大荒，时有大凶祸乱，可都不曾波及到小小的游龙镇。</p>
       <p>不知是不是对游龙镇瞧不上眼，还是游龙镇有什么东西让那些大凶有所忌惮。</p>
       <p>这一晚，游龙镇仓山之巅将有血月降临，游龙镇的孩子将借助血月开启自身灵根。</p>
       <p>此时，一少年和一中年男子向着仓山之巅而去。</p>
       <p>少年名叫曹石，已有十六岁。他的灵魂在一个月前穿越到了这个世界，替代了原主人活下去。</p>
       <p>在仓山之上有一石质四方祭坛，半丈高，四面各有九层台阶。</p>
       <p>祭坛的四方，有凶兽石刻：青躯盘藏龙，白皮踞卧虎，朱羽击天雀，玄甲万年龟！</p>
       <p>当曹石随父亲曹青庭来到仓山之巅时，已是人山人海，怕是整个游龙镇的人都出动了。</p>
       <p>曹石和父亲被挤在外围，正要朝里面挤挤，却是听到一声未脱稚气的声音在喊曹石。</p>
       <p>“石头哥！”</p>
       <p>曹石转头望去，可不正是喜欢跟在自己屁股后面的杨童吗。</p>
       <p>“石头哥，我都找你半天了，怪不得一直找不到你，原来你才来！”</p>
       <p>杨童身形瘦小，长相机灵，此时一副可怜兮兮的样儿，埋怨的说道。</p>
       <p>对于杨童，曹石很清楚，平时和谁都玩得来，但只和曹石最亲密，特别是被赵彦恒几个人欺负的时候。</p>
       <p>曹石想来，这杨童肯定又被赵彦恒他们欺负了。</p>
       <p>果不其然，只见远处一个颇为壮硕的少年，领着四五个孩子，朝着曹石他们走来。</p>
       <p>“这不是曹石吗！几日不见，倒是变了一副模样，瞧着不像你了。”</p>
       <p>赵彦恒带着笑意，对曹石说道。</p>
       <p>曹石本人还未表现出什么，一旁的杨童见到赵彦恒他们过来了，立刻胆怯的躲到了曹石的身后。</p>
       <p>“我变没变不知道，倒是你赵彦恒还是老样子，只知道欺负人。”</p>
       <p>曹石面无表情，平静的说道。</p>
       <p>此话一出，赵彦恒等人皆是一愣，他们从未见过这么硬气的曹石。</p>
       <p>赵彦恒不怒反笑，接着说道：</p>
       <p>“你曹石如今胆子倒是肥了，以前咱们游龙镇在血月之夜开启灵根的日子，你可是怕的要死，没想到你今天竟然敢来？也好，我倒要瞧瞧你们曹家人到底能不能开启有用的灵根，我可记得你们曹家几代人了，可都是没用的枯草废物灵根？哈哈……”</p>
       <p>赵彦恒说完，大笑着离去，几个同来的少年也跟着笑起来。</p>
       <p>对此，曹石没有表漏出应有的怒容，只是望向赵彦恒的眼神变了。</p>
       <p>对于开启灵根一说，其实是受到祖辈的血脉影响的。历代祖辈都会与不同血脉的女子结合，因此，后代会出现什么灵根，一切都说不准。</p>
       <p>所以，有的大家族，往往都会找拥有顶级灵根的女子联姻，从而确保家族长盛不衰。</p>
       <p>时过良久，天幕间的那轮圆月生起了异变！</p>
       <p>本是明亮的圆月开始变得浑浊起来，周围的云好似被什么给搅动一样，聚了又散，散了又聚。</p>
       <p>一会像骏马，一会像青竹，一会又像葫芦，各种形象，万千变化。</p>
       <p>片刻后，在所有人猝不及防的情况下，大地万物都在一瞬间染上了一层妖艳的红色。</p>
       <p>游龙镇的孩子都明白过来，当即一个个走向四方祭坛之上。</p>
       <p>此时的圆月已是替换成了深红色，尽显妖异，若似一轮染血的月亮遥挂天幕之上。</p>
       <p>骤然间，祭坛上本是覆尽灰尘的四象石刻，生出诸多裂缝，一块块如铁锈般的灰尘剥落，漏出里面青、白、赤、玄四种光辉！</p>
       <p>一时间，周围空间开始躁动起来，龙吟，虎啸，雀鸣，龟吼，此起彼伏。</p>


    </div>


</div>



<div class="paging-box">
  	<a href="javascript:;" class="paging-left">上一章</a>
  	<i></i>
  	<a href="javascript:;">目录</a>
  	<i></i>
  	<a href="javascript:;">下一章</a>
</div>





<!-- 投票弹窗 -->
<div class="toupiao-tc none clearfix" ></div>
<div class="toupiao-cont none clearfix ">
    <div class="tp-close"><img src="images/icon-close.png" /></div>
    <div class="book-tp-title clearfix">
        <em></em>
        <span></span>
        <b>投银票</b>
        <i></i>
    </div>
    <h5>《最强战尊》这本书很棒，快来投票吧~</h5>
    <h2>
        <i class="minus"></i>
        <span>当前可投<em class="tjpiao">3</em>票</span>
        <i class="plus"></i>
    </h2>  
    <div class="ljtp"><a href="javascript:;">立即投票</a></div>

    <p><a href="javascript:;">如何获取银票?</a></p>


</div>



<!-- 打赏弹窗 -->

<div class="ds-tc none clearfix" ></div>
<div class="ds-tc-cont none clearfix ">
    <div class="ds-close"><img src="images/icon-close.png" /></div>

    <div class="book-tp-title clearfix">
        <em></em>
        <span></span>
        <b>打赏本书</b>
        <i></i>
    </div>
    <h5>《最强战尊》这本书很棒，决定打赏一下~</h5>
   
    <div class="ds-tc-cont-je clearfix">
      <ul>
          <li class="on">
             <span>100金币</span>
             <i></i>
          </li>
          <li>
             <span>500金币</span>
             <i></i>
          </li>
          <li>
             <span>800金币</span>
             <i></i>
          </li>
          <li>
             <span>1000金币</span>
             <i></i>
          </li>
          <li>
             <span>1500金币</span>
             <i></i>
          </li>
          <li>
             <span>2000金币</span>
             <i></i>
          </li>
      </ul>
    </div>

    <div class="ds-input clearfix">
        <textarea placeholder="写的真好，塔豆奉上！" maxlength="120" >写的真好，塔豆奉上！</textarea>
        <i>120字符</i>
    </div>


    <div class="yebz"><a href="javascript:;">余额不足，请充值</a></div>

    <p>您的金币剩余0，<a href="javascript:;">立即充值</a></p>


</div>






</body>

</html>